.an-button.active-state {
    color: #0084ff!important;
}

p {
    text-indent: 2rem;
}

*.Bton0Backgrond {
    background-color: rgba(240, 239, 136, 0.8)
}

*.Bton1Backgrond {
    color: rgb(196, 28, 28);
}

*.Bton2Backgrond {
    font-weight: bolder;
}

*.Bton3Backgrond {
    border-bottom: 2px solid #f89;
}

*.Bton4Backgrond {
  font-weight: bolder;
  font-style: italic;
}